<% content_for :rides_content do %>
  <main class="mode--passenger">
    <%= yield %>
  </main>
<% end %>

<% content_for :rides_link do %>
  <%= link_to 'Rides', passenger_rides_path %>
<% end %>

<% content_for :other_app_link do %>
  <%= link_to 'Driver App', driver_root_path %>
<% end %>

<%= render template: "layouts/rides" %>
