AWS_ACCESS_KEY_ID="accessKey"
AWS_SECRET_ACCESS_KEY="secretKey"
MAILGUN_API_KEY="apiKey"
MAILGUN_DOMAIN="mg.rideboard.app"
# Set to true for production, or to test message sending capabilities
SEND_REAL_MESSAGES="false"
