<%= render "rides/search", search: @search, url: passenger_rides_path %>

<% unless @available_rides.empty? %>
  <section id="available-rides">
    <h1 class="rb-rides__heading">Rides with Drivers</h1>

    <% @available_rides.each do |ride| %>
      <%= render "rides/ride_thumbnail", ride: ride, app: :passenger %>
    <% end %>
  </section>
<% end %>

<% unless @other_rides.empty? %>
  <section id="other-rides">
    <h1 class="rb-rides__heading">Others Requested Rides</h1>

    <% @other_rides.each do |ride| %>
      <%= render "rides/ride_thumbnail", ride: ride, app: :passenger %>
    <% end %>
  </section>
<% end %>

<div class="rb-rides__prompt">
  <p>Don't see what you're looking for?</p>

  <%= link_to 'Request a Ride', new_passenger_ride_path, class: "btn" %>
</div>
