<h1 class="rb-notifications__heading">Notification Preferences</h1>

<%= render 'notifications/form', url: passenger_notify_path %>

<%= link_to 'Back', passenger_rides_path, class: "rb-notifications__back" %>
