<% content_for :rides_content do %>
  <main class="mode--driver">
    <%= yield %>
  </main>
<% end %>

<% content_for :rides_link do %>
  <%= link_to 'Rides', driver_rides_path %>
<% end %>

<% content_for :other_app_link do %>
  <%= link_to 'Passenger App', passenger_root_path %>
<% end %>

<%= render template: "layouts/rides" %>
