<h1>RideBoard.app</h1>

<div>
<%= link_to "I am a passenger", passenger_root_path %>
</div>
<div>
<%= link_to "I am a driver", driver_root_path %>
</div>

<section>
  <h2>What is this app?</h2>

  <p>
    RideBoard.app is a passion project built by and for Grinnell students.
    Our goal is to make a seamless ride sharing experience that is more
    reliable and more transparent. The app is still in the early stages with
    only a few features to start off. We would love to hear your feedback as
    we iterate and improve the app to make the best experience for everyone.
  </p>

  <p>
    If you have 3 minutes, please fill out our
    <%= link_to 'form', 'https://docs.google.com/forms/d/e/1FAIpQLScL36vosPM6reoV8grxpYCvAB3ALlnzZJiu9_9sdnrRFfaw_g/viewform?usp=sf_link'%>.
    Your feedback will help us make a better app!
  </p>
</section>

<section>
  <h2>Meet the Team</h2>

  <p>
    We are a small team of Grinnell students dedicated to improving the
    ride-sharing experience for the whole Grinnell community. If you are
    interested joining the team or contributing in other ways, email us at
    <%= link_to 'contribute@rideboard.app', 'mailto:contribute@rideboard.app' %>!
  </p>

  <ul>
    <li>Zander Otavka - Team Lead</li>
    <li>David Jin - User Experience Designer</li>
    <li>Patrick Nuckolls - Engineer</li>
    <li>Yash Gupta - Engineer</li>
  </ul>
</section>
