<% unless @rides.empty? %>
  <section>
    <h1 class="rb-rides__heading">Requested Rides</h1>

    <% @rides.each do |ride| %>
      <%= render "rides/ride_thumbnail", ride: ride, app: :driver %>
    <% end %>
  </section>
<% end %>

<div class="rb-rides__prompt">
  <p>Don't see what you're looking for?</p>

  <%= link_to 'Offer a Ride', new_driver_ride_path, class: "btn" %>
</div>
