// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "theme";

.rb-message-form {
  @include section;

  display: flex;
  align-items: center;

  &__input {
    flex: 1;
  }
}

.rb-message {
  margin: 0.5rem 0;
  display: block;
  text-align: left;

  &--self {
    text-align: right;
  }

  &__content {
    margin: 0;
    padding: 1rem;
    display: inline-block;
    max-width: 70%;
    background-color: $light-grey;
    text-align: left;
  }

  &--driver &__content {
    background-color: $primary-color;
  }

  &--self &__content {
    background-color: $secondary-color;
  }

  &__sender {
    @include small-text();

    display: block;
    margin: 0;
    padding: 0;
  }

  &--driver &__sender::after {
    content: "(Driver)";
  }
}
