// Place all the styles related to the rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "theme";

.rb-rides {
  &__heading {
    @include large-heading();
    @include section-margin();
    @include section-padding();
  }

  &__prompt {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.rb-ride-search {
  @include section-border();
  @include section-margin();

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    margin: $section-padding;
  }

  &__field {
    flex: 1 0 auto;
    position: relative;

    input {
      margin: 0 !important;

      &::placeholder {
        color: currentColor;
      }
    }
  }

  &__clear-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 2rem;
    }
  }
}

.rb-ride-thumbnail {
  color: currentColor;

  &::hover {
    background-color: $light-grey;
  }

  &__passenger-count {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

.rb-ride-nav-links {
  @include section-margin();
  @include section-padding();

  display: flex;
}

.rb-ride-nav-link {
  color: $secondary-color;

  &--back {
    flex: 1;
  }
}

.rb-ride-locations {
  @include section-margin();
  @include section-border();

  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rb-ride-location {
  @include section-padding();

  flex: 1;
  margin: 0;

  &--start {
    background-color: $light-grey;
  }

  &__heading {
    @include small-heading();
  }

  &__name {
    @include emphasized-text();

    display: block;
    margin: 0;
    padding: 0;
  }

  &__time {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.rb-ride-driver {
  @include section();

  &__heading {
    @include small-heading();

    display: inline;
    vertical-align: top;
    margin-right: 1rem;
  }
}

.rb-ride-passengers {
  @include section();

  &__heading {
    @include small-heading();

    margin-right: 1rem;
  }

  &__seats {
    @include deemphasized-text();
  }
}

.rb-ride-join {
  @include section();

  display: flex;
  align-items: center;
  flex-direction: row;

  &__message {
    @include deemphasized-text();

    flex: 1;
  }

  &__button {
    margin: 0;
    margin-left: 1rem;

    &.btn-flat {
      background-color: $light-grey;
    }
  }
}

.rb-share-ride {
  @include section();

  &__description {
    @include deemphasized-text();

    margin: 0;
    padding: 0;
  }

  &__bar {
    display: flex;
    align-items: center;
  }

  &__link {
    flex: 1;
  }

  &__copy-button {
    background-color: $light-grey;

    &.rb-copy-to-clipboard--copied{
      & > * {
        display: none;
      }

      &::after {
        content: "Copied!";
      }
    }
  }

  &__or {
    margin: 1rem;
  }

  .fb-share-button {
    margin: 0;
    padding: 0;
  }
}

.rb-ride-notifications {
  @include section-margin();
  @include section-border();

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  &__description {
    @include deemphasized-text();
    @include section-padding();
  }

  &__button-wrapper {
    @include section-padding();

    flex: 1;
    flex-basis: auto;
    text-align: right;
  }

  &__button.btn-flat {
    background-color: $light-grey;
  }
}

.rb-ride-notifications-status {
  @include section();

  background-color: $light-grey;
}
