.welcome {
  min-height: 100vh;

  nav {
    background: none;
    box-shadow: none;
  }
}

.info{
  background-color: white;
  padding: 30px;
}

h1, h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
