<h1 class="rb-notifications__heading">Notification Preferences</h1>

<%= render 'notifications/form', url: driver_notify_path %>

<%= link_to 'Back', driver_me_path, class: "rb-notifications__back" %>
