.rb-notifications__heading {
  font-size: 2rem;
  margin: 2rem 0;
  padding: 0;
}

.rb-notification-form__section {
  margin: 2rem 0;
}

.rb-notification-form__section-heading {
  margin: 0;
  font-size: 1.6rem;
}

.rb-notification-form__field {
  margin: 1rem -0.5rem;
  padding: 0.5rem;
  background-color: #eee;
}

.rb-notification-form__controls {
  margin: 2rem 0;
}
