// Place all the styles related to the rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.big-boi {
  display: inline-block;
  font-size: 1rem;
  line-height: 1rem;
  border: 2px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
