.welcome{
    background: none;
    box-shadow: none;
  }
.info{
  background-color: white;
  padding: 30px;
}
.call_to_action{
  height: 100vh;
}
h1, h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
