video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
nav {
  background: none;
  box-shadow: none;
}
.info{
  background-color: white;
  padding: 30px;
}
.call_to_action{
  height: 100vh;
}
h1, h2{
  padding-top: 10px;
  padding-bottom: 10px;
}
